@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="margin-top:10%">
    <div class="card-body text-center">
        <h5 class="card-title"><b>CANDIDATES</b></h5>
        <p class="card-text">Do you want to see all the candidates? No problem, just click on the button bellow!</p>
        <a asp-controller="Candidates" asp-action="Index" class="btn btn-default">See candidates</a>
    </div>
</div>



<div class="card" style="margin-top:7%">
    <div class="card-body text-center">
        <h5 class="card-title"><b>SKILLS</b></h5>
        <p class="card-text">Do you want to see all the skills around? No problem, just click on the button bellow!</p>
        <a asp-controller="Skills" asp-action="Index" class="btn btn-default">See skills</a>
    </div>
</div>



